<app-navbar></app-navbar>
<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Creators</h1>
        <div class=" row p-5 mt-4 bg-secondary-theme text-theme-primary justify-content-center">
            <div class="profile-card">
                <div class="card-header">
                    <div class="pic">
                        <img src="../../../assets/che.jpg" alt="">
                    </div>
                    <div class="name">Chehine Ben Salah</div>
                    <div class="desc"> Software Engineer Student</div>
                    <div class="sm">
                        <a href="" class="fas fa-envelope"></a>
                        <div class="text-center"> bensalahchahine5@gmail.com</div>
                    </div>
                    <div class="sm">
                        <a href="" class="fab fa-github"></a>
                        <a href="" class="fab fa-linkedin"></a>
                    </div>
                </div> 
            </div>
            <div></div>
            <div class="profile-card ml-5">
                <div class="card-header">
                    <div class="pic">
                        <img src="../../../assets/rayen.png" alt="">
                    </div>
                    <div class="name">Rayen Ghith</div>
                    <div class="desc"> Software Engineer Student</div>
                    <div class="sm">
                        <a href="" class="fas fa-envelope"></a>
                        <div class="text-center"> rayenGhith@gmail.com</div>
                    </div>
                    <div class="sm">
                        <a href="" class="fab fa-github"></a>
                        <a href="" class="fab fa-linkedin"></a>
                    </div>
                </div> 
            </div>
            
            
        </div>
    </div>
</section>
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <app-subscription-form></app-subscription-form>
    </div>
  </div>
