<app-navbar></app-navbar>
<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">about enicar </h1>
        <div class=" row p-5 mt-4 bg-secondary-theme text-theme-primary">
            <div class="profile ml-5">
                <div class="img-border">
                    <img src="https://scontent.ftun13-1.fna.fbcdn.net/v/t39.30808-6/274874828_4910924298986216_5607902258932445143_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=rRPyNIHyEEIAX9cL9Lw&_nc_ht=scontent.ftun13-1.fna&oh=00_AfAlybPDa21BwRny1IU61Wt1S2hQvIj-N13SzCvoOfsaIw&oe=644B3301" alt="">
                </div>
                <p></p>
                <div class="contact-icons row">
                    <div class="linkedin-space col-md-2">
                        <p>linkedin</p>
                    </div>
                    <div class="github-space">
                        <p>Github</p>
                    </div>
                </div>
            </div>
            <div class="profile">
                <div class="img-border">
                    <img src="https://scontent.ftun13-1.fna.fbcdn.net/v/t39.30808-6/274874828_4910924298986216_5607902258932445143_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=rRPyNIHyEEIAX9cL9Lw&_nc_ht=scontent.ftun13-1.fna&oh=00_AfAlybPDa21BwRny1IU61Wt1S2hQvIj-N13SzCvoOfsaIw&oe=644B3301" alt="">
                </div>
                <p></p>
                <div class="contact-icons row">
                    <div class="linkedin-space col-md-2">
                        <p>linkedin</p>
                    </div>
                    <div class="github-space">
                        <p>Github</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <app-subscription-form></app-subscription-form>
    </div>
  </div>
