<nav class=" navbar navbar-expand-lg fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item ml-3" routerLink=""><a href="" class="nav-link">ABOUT ENICAR</a></li>
                <li class="nav-item ml-3" ><a  href="http://localhost:4200/Homeevents" class="nav-link">EVENTS</a></li>
                <li class="nav-item ml-3" ><a  href="http://localhost:4200/Creators" class="nav-link">CREATORS</a></li>
                <li class="nav-item ml-3" ><a  href="http://localhost:4200/Loginmenu" class="nav-link">Login space</a></li>


            </ul>
        </div>
    </div>
</nav>