<div class="container ">
    <div class="col ml-4 mt-3">
            <div class="card shadow-effect" routerLink="/admins">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-clipboard-list"></i></h1>
                    <h2 class="text-theme-primary"> Manage Admins</h2>
                </div>
            </div>
    </div>
    <div class="col ml-4 mt-3">
            <div class="card shadow-effect" routerLink="/events">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-clipboard-list"></i></h1>
                    <h2 class="text-theme-primary"> Manage Events</h2>
                </div>
            </div>
    </div>
    <div class="col ml-4 mt-3">
        <div class="card shadow-effect" routerLink="/subscribers">
            <div class="card-body text-center bg-secondary-theme">
                <h1 class="mt-3 text-theme-primary"><i class="fas fa-clipboard-list"></i></h1>
                <h2 class="text-theme-primary"> Manage Subscribers</h2>
            </div>
        </div>
    </div>
</div>
