<app-navbar></app-navbar>
<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">L'Ecole Nationale d’Ingénieurs de Carthage</h1>
        <img src="https://scontent.ftun7-1.fna.fbcdn.net/v/t39.30808-6/214655522_2059005034237942_8200680362427823660_n.png?_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_ohc=69UbantkxakAX_Xt1QW&_nc_oc=AQnRvVYI2i_zAyKeTM8bm6TyHhqzbc1k7yEsknykbsReuDyM_tZO9aNyGaFaX5qGwkc&_nc_ht=scontent.ftun7-1.fna&oh=00_AfBBi0dCdphhWLW6Kv-NmEss-CIlRcFXiYpTjDsp7Kg_ig&oe=64499A9E" alt="">
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary text-center">
            <p>L'Ecole Nationale d’Ingénieurs de Carthage (ENICarthage) est un établissement d’enseignement supérieur publique, relevant de l'Université de Carthage, créé (décret n° 2002-1623 du 9 juillet 2002), 
                en tant que Ecole Supérieure de Technologie et d’Informatique (ESTI), en 2002 et transformé en école nationale d’ingénieurs recrutant ses élèves à partir du concours national d’ingénieurs à partir de septembre 2012 (décret n° 2014-4677 du 29 décembre 2014).</p>
            <p>Etant habilitée à délivrer des diplômes de Maîtrise depuis 2002 et ayant intégré le système LMD depuis la rentrée 2007, Cette école a offert plusieurs formations spécialisées dans les domaines du Génie Electrique, de l’Informatique et de la Gestion Industrielle, 
                parmi lesquelles des formations d’ingénieurs en sciences appliquées et Technologie.</p>
        </div>
    </div>
</section>
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <app-subscription-form></app-subscription-form>
    </div>
  </div>
