
<app-navbar></app-navbar>
<section class="s">
    

<div class="container ">
    <div class="row">
        <div class="col-md-9 ">
            <div class="card shadow-effect">
                <img src="https://scontent.ftun9-1.fna.fbcdn.net/v/t1.6435-9/132011634_191958049299961_711808021614134836_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=e3f864&_nc_ohc=dbJnXTCwFLAAX8EsHzG&_nc_ht=scontent.ftun9-1.fna&oh=00_AfARM47TMyc3bx3qQ2iik9V5xPWWZXzlxCR1yHDwNxM3pw&oe=646A221C" alt="post-img" class="card-img-top img-fluid">
                <div class="card-body" >
                    <!--<img [src]="user.image_path" class="form-control img-fluid img-preview">-->

                    <small class="bg-light text-danger text-center">{{user.name}}</small>
                    <small class="bg-light text-success text-center ml-2">{{user.categorie}}</small>
                    <small class="bg-light text-warning text-center ml-2"> {{user.date_debut}}</small>
                    <small class="bg-light text-warning text-center ml-2"> {{user.date_fin}}</small>
                    <h1 class="mt-3 mb-3">{{user.name}}</h1>
                    <h3>
                        {{user.description}}
                    </h3>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>

</section>