<app-navbar></app-navbar>
<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">EVENTS </h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4"> BACK TO HOME</button>
            </div> 
        </div>
    </div>
</section>
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <app-subscription-form></app-subscription-form>
    </div>
  </div>
